body {
    height: 100vh;
    background-color: #76045d;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px 1fr 100px;
    padding-right: 100px;
}

header {
    grid-area: header;
    background-color: aquamarine;
}

main {
    grid-area: main;
    background-color: chartreuse;
}

footer {
    grid-area: footer;
    background-color: cornflowerblue;
}